@import 'plugins/custom-style.scss';

$desktop-max-width: 100%;

$desktop-header-height: 80px;
$desktop-min-x-margin: 40px;
$desktop-footer-height: 150px;

$mobile-min-x-margin: 20px;
$mobile-header-height: 60px;

/* subheader */
$desktop-subheader-font-size: 22px;
$mobile-subheader-font-size: 20px;
$desktop-subheader-height: 58px;
$mobile-subheader-height: 48px;

$mobile-sopakit-slide-padding: 70px;

$simple-footer-height: 55px;
$desktop-simple-footer-height: $simple-footer-height;
$mobile-simple-footer-height: $simple-footer-height;

$cinesopa-logo-color: #323e48;

// for animation break with sticky

// $animation-classes: (
//   fade-enter-active,
//   fade-leave-actiive,
//   left-right-enter-active,
//   left-right-leave-active
// );

@mixin prevent-break-top0($selector) {
  .fade-enter-active #{$selector},
  .fade-leave-active #{$selector},
  .left-right-enter-active #{$selector},
  .left-right-leave-active #{$selector},
  .slide-enter-active #{$selector},
  .slide-leave-active #{$selector} {
    top: 0;
  }
}

// @each $class in $animation-classes {
//   .#{$value} {
    
//   } 
// } 
// $grid-breakpoints: custom-style.$grid-breakpoints;
// @include respond-above(sm) {}
@mixin min-with($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($grid-breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get($grid-breakpoints, $breakpoint);

    // Write the media query.
    @media (min-width: $breakpoint-value) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  } @else {
    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

// @include respond-above(sm) {}
@mixin max-with($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($grid-breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get($grid-breakpoints, $breakpoint);

    // Write the media query.
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  } @else {
    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}
