@import 'plugins/custom-style.scss';

$desktop-max-width: 100%;

$desktop-header-height: 80px;
// $desktop-min-x-margin: 40px;
$desktop-min-x-margin: 10%;
$desktop-footer-height: 120px;

$mobile-min-x-margin: 20px;
$mobile-header-height: 60px;

/* subheader */
$desktop-subheader-font-size: 22px;
$mobile-subheader-font-size: 20px;
$desktop-subheader-height: 58px;
$mobile-subheader-height: 48px;

$mobile-sopakit-slide-padding: 70px;

$simple-footer-height: 55px;
$desktop-simple-footer-height: $simple-footer-height;
$mobile-simple-footer-height: $simple-footer-height;

$cinesopa-logo-color: #323e48;

$main-wrapper-padding-bottom: 30px;
/* only for sopakit */

$dt-sopakit-content-wrapper-mt: 50px;
$dt-sopakit-content-neg: $desktop-header-height + $desktop-simple-footer-height +
  2px;
$dt-sopakit-last-page-neg: $dt-sopakit-content-neg + $desktop-subheader-height +
  $dt-sopakit-content-wrapper-mt + $main-wrapper-padding-bottom;

// for animation break with sticky

// $animation-classes: (
//   fade-enter-active,
//   fade-leave-actiive,
//   left-right-enter-active,
//   left-right-leave-active
// );

// 페이지 전환 transition 시,
// position: sitkcy 인 요소의
// top이 이상하게 계산되는 문제 수정.
// transition 하는 동안에는 top을 0으로 설정하여 위치가 어긋나지 않도록 함.
// (이유는 본인도 모르겠다.)

@mixin prevent-break-top0($selector) {
  .fade-enter-active #{$selector},
  .fade-leave-active #{$selector},
  .left-right-enter-active #{$selector},
  .left-right-leave-active #{$selector},
  .slide-enter-active #{$selector},
  .slide-leave-active #{$selector} {
    top: 0;
  }
}
@mixin when-page-translating($selector) {
  .fade-enter-active #{$selector},
  .fade-leave-active #{$selector},
  .left-right-enter-active #{$selector},
  .left-right-leave-active #{$selector},
  .slide-enter-active #{$selector},
  .slide-leave-active #{$selector} {
    @content
  }
}

// @each $class in $animation-classes {
//   .#{$value} {

//   }
// }
// $grid-breakpoints: custom-style.$grid-breakpoints;
// @include respond-above(sm) {}
@mixin min-with($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($grid-breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get($grid-breakpoints, $breakpoint);

    // Write the media query.
    @media (min-width: $breakpoint-value) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  } @else {
    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

// @include respond-above(sm) {}
@mixin max-with($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($grid-breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get($grid-breakpoints, $breakpoint);

    // Write the media query.
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  } @else {
    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

// caption 다 숨기기

caption {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

// carousel 화살표 수정

.featured-wrapper,
.film-photos-wrapper {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 80px;
    height: 80px;
  }
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50.3 97.78'%3E%3Cpolygon fill='%23fff' points='48.89 0 50.3 1.41 2.82 48.89 50.3 96.37 48.89 97.78 0 48.89 48.89 0' /%3E%3C/svg%3E");
  }
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50.51 98.2'%3E%3Cpolygon fill='%23fff' points='1.41 98.2 0 96.79 47.69 49.1 0 1.41 1.41 0 50.52 49.1 1.41 98.2' /%3E%3C/svg%3E");
  }
}

.carousel-item img {
  object-fit: cover;
}
