include base.pug

//- variables: order, detailUrl, totalProductPrice, transportFee, totalPrice, paymentMethod
//- td.header {width: 120px;}

style.
  .main-phrase{font-size: 22px; font-weight: bold; text-align: center; padding-bottom: 10px;}
  .subtitle {padding-top: 40px; padding-bottom: 10px; font-size: 18px; font-weight: bold; border-bottom: 1px solid #ddd;}
  /*.content-table {padding-top: 20px;}*/
  td.header, td.content {padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #ddd}
  .featured-image {
    width: 120px;
  }
  .order-cell {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
  }
  .notice {
    font-size: 16px;
  }
  .sub-notice {
    font-size: 14px;
    color: #767676;
  }

+mailWrapper
  +mtable
    tr
      td.notice( style="padding-bottom: 30px; text-align: center;") 비밀번호를 변경하시려면, <br>아래 비밀번호 변경 버튼을 눌러주세요!

    tr
      //- td(style="padding-bottom: 20px;" align="center")
      td(style="padding-bottom: 20px; text-align: center;")
        a(style={color: '#000', 
          display:'inline-block', 
          'background-color': '#fff', 
          'font-size': '18px',
          'border-width': '2px',
          'border-color': '#000',
          'border-style': 'solid',
          'border-radius': '50%',
          padding: '10px 15px 10px 15px',
          'text-decoration': 'none',
          'font-weight': 'bold',
          'line-height': '1',
        }, href=tokenUrl) 비밀번호 변경 
    tr
      td.sub-notice(style="padding-top: 30px; text-align: center;") 본 메일은 영화향유플랫폼 소파섬의 계정 비밀번호 변경을 위해 발신되었습니다.
      //- td.sub-notice(style="padding-top: 30px;" align="center") 본 메일은 영화향유플랫폼 소파섬의 계정 비밀번호 변경을 위해 발신되었습니다.
    tr
      td.sub-notice(style="text-align: center;") 만약 본인이 아니시라면, 본 메일을 무시해주시기 바랍니다.
      //- td.sub-notice(align="center") 만약 본인이 아니시라면, 본 메일을 무시해주시기 바랍니다.