%smooth-hover {
  transition: 1s;
  &:hover {
    transition: none;
    text-decoration: none;
  }
  &:focus {
    transition: none;
  }
}
// %smooth-move {
//   transition: 0.5s ease;
// }

// @mixin smooth-link() {
//   transition: 1s;
//   &:hover {
//     color: $hover-color
//   }
// }

@mixin smooth-move($time) {
  transition: $time ease;
}

// --text-color: #2b3e4a;
// // --text-secondary-color: #576870;
// --text-secondary-color: #767676;
// --desktop-top-header-height: 230px;
// --desktop-header-height: 100px;
// --mobile-header-height: 80px;
// --logo-color: #00a9e0;
// --link-color: #009eda;
// --nav-link-hover-color: #009eda;
// --link-dark-color: #007faf;
// --max-content-size: 1260px;
// --footer-text-color: #767676;
// --footer-icon-color: #aaa;
// --secondary-text-color: #767676;

$link-color: #009eda;
$text-color: #2b3e4a;
$text-secondary-color: #767676;

$cal-emp-color: #005F85;