doctype transitional

//- 이미지
//- tr
//-   td(align="center" style="padding-top:30px")
//-     img(src=cinesopaLogoSrc, alt=cinesopaLogoAlt, width="150" height="108")

mixin mtable
  //- table(class!=attributes.class border="0" cellpadding="0" cellspacing="0" width=attributes.width ? attributes.width : "100%")&attributes(attributes)
  table(class!=attributes.class border="0" cellpadding="0" cellspacing="0" width="100%")&attributes(attributes)
    block

mixin mailWrapper
  html(lang="ko")
    head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      title EMAIL HTML
    body
      style.
        /* GENERAL STYLE RESETS */
        body, #bodyTable { width:100% !important; height:100% !important; margin:0; padding:0; color:#000000 }

        img, a img { border:0; outline:none; text-decoration:none; }
        .imageFix { display:block; }
        table, td { border-collapse:collapse; }
        /* CLIENT-SPECIFIC RESETS */
        /* Outlook.com(Hotmail)의 전체 너비 및 적절한 줄 높이를 허용 */
        .ReadMsgBody{ width: 100%; }
        .ExternalClass{ width: 100%; }
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div { line-height: 100%; }
        /* Outlook 2007 이상에서 Outlook이 추가하는 테이블 주위의 간격을 제거 */
        table, td { mso-table-lspace: 0pt; mso-table-rspace: 0pt; }
        td { padding: 0; font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 1.5;}
        /* Internet Explorer에서 크기가 조정된 이미지를 렌더링하는 방식을 수정 */
        img { -ms-interpolation-mode: bicubic; }
        /* Webkit 및 Windows 기반 클라이언트가 텍스트 크기를 자동으로 조정하지 않도록 수정 */
        body, table, td, p, a, li, blockquote { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
        .sub-notice {
          font-size: 12px;
          color: #777777;
        }
        a {
          color: #777777;
        }
        a:visited {
          color: #777777;
        }
        #bodyTable { padding: 20px 0 30px 0; font-size:16px; background-color: #f3f3f3;  }

      +mtable#bodyTable
        tr
          td(align="center" style="padding-top: 30px; padding-bottom: 30px;")
            +mtable#wrapTable(width="600")
              tr
                td(style="padding: 30px; background-color:#ffffff;" )
                  +mtable#contentTable
                    tr
                      td(style='padding-bottom: 50px')
                        +mtable
                          tr
                            td(align="center")
                              //- img(src='https://gdurl.com/LRl7e' alt='소파섬 로고' width="200" height="156")
                              img(src='https://i.ibb.co/Qc5zK0h/sopaseom.png' alt='소파섬 로고' width="200" height="156")
                    tr
                      td(style='padding-bottom: 50px')
                        block
                    tr
                      td(align="center" style="font-size:12px; color:#999999")
                        a.other(href='https://sopaseom.com/policy' target="_blank") 이용약관
                        | &nbsp;|&nbsp;
                        a.other(href='https://sopaseom.com/privacy' target="_blank") 개인정보처리방침
                    tr
                      td(align="center" style="font-size:12px; padding-top: 20px;") Copyright ⓒ #{currentYear} Cinesopa All Rights Reserved. 




    

